.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.child {
  width: 100px;
  height: 100px;
}
.child-1 {
  background-color: red;
}
.child-2 {
  background-color: green;
}
.child-3 {
  background-color: yellow;
}
.child-4 {
  background-color: blue;
}
